/**
* Mini-grid
* Works anywhere, liquid 100%, no need for .row. Use in modal windows and wherever you can't use Bootstrap's grid
*/
.r:before, .r:after {display: table;content: "";line-height: 0;}
.r:after {clear: both;}
.r.row {margin-left:0;}
.s12,.s11,.s10,.s9,.s8,.s7,.s6,.s5,.s4,.s3,.s2,.s1{display:inline-block;margin:0;padding:0 0 0 0;vertical-align:top;}
.ie7 .s12,.ie7 .s11,.ie7 .s10,.ie7 .s9,.ie7 .s8,.ie7 .s7,.ie7 .s6,.ie7 .s5,.ie7 .s4,.ie7 .s3,.ie7 .s2,.ie7 .s1 {display:block;float:left;}
.s12{width:99%}.s11{width:90.66666666666666%}.s10{width:82.33333333333334%}.s9{width:74%}.s8{width:65.66666666666665%}.s7{width:57.333333333333336%}.s6{width:49%}.s5{width:40.66666666666667%}.s4{width:32.33333333333332%}.s3{width:24.75713253%}.s2{width:15.666666666666664%}.s1{width:7.333333333333332%}
@media (max-width: 767px) { /* Mobile */
/*  .s1,.s2,.s3,.s4,.s5,.s6,.s7,.s8,.s9,.s10,.s11,.s12 {width:99%;}*/
}
@media (max-width: 979px) and (min-width: 768px) { /* Tablet */
/*  .s1,.s2,.s3,.s4,.s5 {width:49.55%;}
  .s6,.s7,.s8,.s9,.s10,.s11,.s12 {width:96%;margin-left:3.999%;}*/
}

.tr {text-align: right;}

body {font-family:Arial;margin:0;}

.blue {color:#6996B3;}

.sprite,.logo {background:url('sprite.png');display:inline-block;vertical-align: middle;}
.logo {height:33px;width:33px;}

header {color:#fff;background:#6996B3;}
	header h1 {line-height:1em;margin:0;padding: 0 .5em;}
	header p {line-height:1em;margin:0;padding:0;}

h2 #artist {font-weight: 100;}



